{% extends "base.html" %}

{% block content %}
<div class="admin-animals">
    <h2>Animals of Breeder: {{ breeder.Username }}</h2>
    <a href="{{ url_for('admin_dashboard') }}" class="btn">Back to Dashboard</a>
    
    <div class="animals-list">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Lora Tag</th>
                    <th>Category</th>
                    <th>Gender</th>
                    <th>Birth Date</th>
                    <th>Vaccines</th>
                    <th>Positions History </th>
                    <th>Battery status</th>
                    <th>Alert History</th>
                    <th>Animal status</th>
                </tr>
            </thead>
            <tbody>
                {% for animal in animals %}
                    <tr>
                        <td>{{ animal.ID }}</td>
                        <td>{{ animal.MAC }}</td>
                        <td>{{ animal.Category }}</td>
                        <td>{{ animal.Gender }}</td>
                        <td>{{ animal.Birth_date }}</td>
                        <td>{{ animal.Vaccines }}</td>
                        <td>
                            {% if animal.PositionList %}
                            {% for pos in animal.PositionList %}
                            <a href="{{ pos }}" target="_blank">
                                Position {{ loop.index }}
                            </a><br>
                            {% endfor %}
                            {% else %}
                            No Position
                            {% endif %}
                        </td>
                        <td>{{ animal['Battery_status'] }}</td>
                        <td>{{ animal['Aler_Hist'] }}</td>
                        <td>{{ animal['Animal_status'] }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10">No animals found for this breeder</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
